<div class="step2labs">
    <md-card ng-init="selected = 0">
      <md-steppers  md-selected="selected" md-stretch-steppers="always">
        <md-step label="Lab1" md-complete="step1.completed">
          <md-content>
            <iframe id="iframe0" name="myIframe0" frameborder="5" width="1500" height="1500"></iframe>
            <md-button type="submit" class="md-raised md-primary" ng-click="selected = 1; step1.completed=true">NEXT</md-button>
          </md-content>
        </md-step>
        <md-step label="Lab2" md-complete="step2.completed">
          <md-content>
            <iframe id="iframe1" name="myIframe1" frameborder="5" width="1500" height="1500"></iframe>
            <md-button class="md-raised md-primary" ng-click="selected = 0">PREV</md-button>
            <md-button class="md-raised md-primary" ng-click="selected = 2; step2.completed=true">NEXT</md-button>
          </md-content>
        </md-step>
        <md-step label="Finish" md-complete="step3.completed">
          <md-content>
            <h1>
            Finish
            </h1>
            <md-button class="md-raised md-primary" ng-click="selected = 1">PREV</md-button>
          </md-content>
        </md-step>
      </md-steppers>
    </md-card>
  </div>